Name : Manjunath B H

Date : 14-09-2024

1. Lists

i. Creating and Accessing of elements from a list

In [13]:
fruits=["Apple","Mango","Banana","Cherry","Litchi"] #list of fruits
print(fruits[0],fruits[4]) #Accessing first and last element from the list

Apple Litchi

ii. Modifying a list

In [21]:
fruits = ["Apple", "Mango", "Banana", "Cherry", "Litchi"]
fruits.append("Pomegranate")
print(fruits)
fruits[2] = "Strawberry"
print(fruits)
fruits_2 = fruits.pop()
print(fruits)
print("The popped element is:",fruits_2)

['Apple', 'Mango', 'Banana', 'Cherry', 'Litchi', 'Pomegranate']
['Apple', 'Mango', 'Strawberry', 'Cherry', 'Litchi', 'Pomegranate']
['Apple', 'Mango', 'Strawberry', 'Cherry', 'Litchi']
The popped element is: Pomegranate

iii. List Methods

In [24]:
fruits = ["Apple", "Mango", "Banana","Cherry", "Cherry", "Litchi","Cherry"]
fruits.sort()  # Sort the list in ascending order
print(fruits)
fruits.reverse()  # Reverse the order of elements in the list
print(fruits)
print(fruits.count("Cherry"))  # Count the number of "Cherry" in the list

['Apple', 'Banana', 'Cherry', 'Cherry', 'Cherry', 'Litchi', 'Mango']
['Mango', 'Litchi', 'Cherry', 'Cherry', 'Cherry', 'Banana', 'Apple']
3

2. Tuples

i. Create and access elements

In [27]:
num=(10,20,30,40,50)
print(num[0])
print(num[4])

10
50

ii. Immutable nature of tuples

In [3]:
num=(10,30,50,70,90)
num[2]=25 #trying to change the values in the tuple

TypeError: 'tuple' object does not support item assignment

iii. Tuple Operation

In [25]:
num=(10,20,30,40,50)
a,b,c,d,e=num #assigning the values of the tuples to 5 different variables
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)

a= 10
b= 20
c= 30
d= 40
e= 50

3. Dictionaries

i. Create and access elements

In [28]:
dict_1={"Name":"John","Age":"20","Subject":["Math","Physics","Chemistry"]}
print(dict_1["Age"])

20

ii. Modify the dictionary

In [44]:
dict_1={"Name":"John","Age":"20","Subject":["Math","Physics","Chemistry"]}
dict_1["Grade"]="A" #adding new value to dictionary
dict_1["Age"]=21 #changing the value of age
del dict_1["Subject"] #removing the subject key
print(dict_1)

{'Name': 'John', 'Age': 21, 'Grade': 'A'}

iii. Dictionary Methods

In [43]:
dict_2={'Name': 'John', 'Age': 21, 'Grade': 'A'}
print(dict_2.keys()) #printing the keys of the dictionary
print(dict_2.values()) #printing the values of the dictionary

dict_keys(['Name', 'Age', 'Grade'])
dict_values(['John', 21, 'A'])